<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<<<<<<< HEAD
    <link rel="stylesheet" href="/style/profile.css" />
=======
    <link rel="stylesheet" href="/styles/profile.css" />
>>>>>>> nhuhinh
    <title><%= pageTitle %></title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="container">
<<<<<<< HEAD
      <section class="user__detail">
=======
      <section class="user__main">
>>>>>>> nhuhinh
        <div class="user__info">
          <img
            src="<%= user.profilePicture %>"
            alt="<%= user.username %>-avatar"
            class="user__avatar"
          />
          <p class="user__name"><%= user.username %></p>
        </div>
        <nav class="profile-nav">
          <a href="#" class="profile-nav__items">Posts</a>
          <a href="#" class="profile-nav__items">Comments</a>
          <a href="#" class="profile-nav__items">Biography</a>
        </nav>
        <button class="tell-story-button">
<<<<<<< HEAD
          <img src="" alt="" />
          Tell us your story
        </button>
        <article class="user__bio"></article>
        <div class="user__posted-post">
          <% if (user.postedPost && user.postedPost.length > 0) { %> <%
          user.postedPost.forEach(post => { %>
=======
          <img src="" alt="" /> Tell us your story
        </button>
        <article class="user__bio"></article>
        <div class="user__posted-post">
          <% if (user.postedPost && user.postedPost.length > 0) { %>
          <span></span>
          <% user.postedPost.forEach(post => { %>
>>>>>>> nhuhinh
          <article class="post__card">
            <div class="post__author">
              <img
                src="<%= post.author.profilePicture %>"
                alt="author's image"
                class="post__author-img"
              />
              <p class="post__author-name"><%= post.author.username %></p>
            </div>
            <div class="post__left">
              <div class="post__left-text">
                <div class="post__content">
                  <h2 class="post__content-title"><%= post.title %></h2>
                  <p class="post__content-overview">
                    Over the past two years, I have written numerous articles on
                    how Retrieval-Augmented Generation has become a standard
                    feature in nearly all AI applications.
                  </p>
                </div>
                <div class="post__interact">
                  <div class="post__interact-meta">
                    <span class="created_date"> <%= post.createdAt %> </span>
                    <span>
                      <img
                        src=""
                        alt=""
                        class="react-icon"
                        style="display: inline"
                      />
                      5.5K
                    </span>
                    <span>
                      <img
                        src="/images/chat-outline.svg"
                        alt=""
                        class="react-icon"
                        style="display: inline"
                      />
                      170
                    </span>
                  </div>
                  <div class="post__interact-action">
                    <button class="icon-btn" aria-label="Not interested">
                      <img
                        src="/images/minus-circle-outline.svg"
                        alt="a"
                        class="react-icon"
                      />
                    </button>
                    <button class="icon-btn" aria-label="Bookmark">
                      <img
                        src="/images/bookmark-outline.svg"
                        alt=""
                        class="react-icon"
                      />
                    </button>
                    <button class="icon-btn" aria-label="More">
                      <img
                        src="/images/dots-horizontal.svg"
                        alt=""
                        class="react-icon"
                      />
                    </button>
                  </div>
                </div>
              </div>
              <img src="/images/post-thumbnail.png" alt="" class="post__img" />
            </div>
          </article>
<<<<<<< HEAD
          <% }) %> <% } else { %>
          <p>This user hasn’t posted anything yet.</p>
=======
          <% }) %>
          <span></span>
          <% } else { %>
          <p class="user__no-post">This user hasn't posted any Post yet.</p>
>>>>>>> nhuhinh
          <% } %>
        </div>
      </section>
      <aside class="side-profile">
<<<<<<< HEAD
        <img src="" alt="" class="user__bg-img" />
        <div class="user__more-info"></div>
        <div class="user__social-links"></div>
        <button class="add-social-link-button"></button>
      </aside>
    </main>
=======
        <div class="user__more-info">
          <img
            src="<%= user.profilePicture %>"
            alt="<%= user.profilePicture %>-bgm"
            class="user__bg-img"
          />
          <div class="more-info__container">
            <div class="more-info__title">
              <div class="more-info__name"><%= user.username %></div>
              <button class="more-info__share">Share</button>
            </div>
            <div class="more-info__details">
              <div class="more-info__follower">
                <p><%= user.followerCount %>2</p>
                <p>Follower</p>
              </div>
              <div class="more-info__content">
                <div class="more-info__items">
                  <p><%= /*user.createdAt*/0 %>d</p>
                  <p>CoderHome Age</p>
                </div>
                <div class="more-info__items">
                  <% if (user.contributors && user.contributors.length > 0) { %>
                  <p><%= user.contributors.length %></p>
                  <p>Contributors</p>
                  <% } else { %>
                  <p>0</p>
                  <p>Contributors</p>
                  <% } %>
                </div>
                <div class="more-info__items">
                  <p>0*</p>
                  <p>Visit</p>
                </div>
                <div class="more-info__items">
                  <% if (user.liked && user.liked.length > 0) { %>
                  <p><%= user.liked.length %></p>
                  <p>Likes</p>
                  <% } else { %>
                  <p>0</p>
                  <p>Likes</p>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="user__social-links">
          <p>Social Link</p>
          <div class="social-links__items">
            <a href="#">Instagram</a>
            <a href="#">Facebook</a>
          </div>
          <button class="add-social-link-button">Add</button>
        </div>
      </aside>
    </main>
    <script src="/public/scripts/profile.js"></script>
>>>>>>> nhuhinh
  </body>
</html>
