<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/show-post.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="container">
      <div class="post">
        <div class="post__header">
          <p class="post__title"><%= post.title %></p>
          <p class="post__description">
            <%= post.description %> Day chua co description nen test
          </p>
          <div class="post__metadata">
            <div class="post-author">
              <img
                src="<%= post.author.profilePicture %>"
                alt="<%= post.author.username %> avatar"
                class="post-author__img"
              />
              <p class="post-author__name"><%= post.author.username %></p>
              <button class="post-author__follow">
                <span>Follow</span>
              </button>
              <p class="post__posted-date">6 days</p>
            </div>
            <hr class="post__divider" />
            <div class="metadata__interaction-action">
              <div class="metadata__interaction">
                <div class="interaction__items">
                  <img
                    src="/images/show-post-img/Comment.svg"
                    alt="comment-icon"
                  />
                  <p>3.7K</p>
                </div>
                <div class="interaction__items">
                  <img src="/images/show-post-img/Heart.svg" alt="heart-icon" />
                  <p>4.2K</p>
                </div>
              </div>
              <div class="metadata__action">
                <img src="/images/show-post-img/Close.svg" alt="" />
                <img src="/images/show-post-img/Bookmark.svg" alt="" />
                <img src="/images/show-post-img/Share button.svg" alt="" />
                <img src="/images/show-post-img/More action.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
        <article class="post__content"><%= post.content %></article>
      </div>
      <footer class="post__footer">
        <div class="post__tags">
          <% for( let index = 0; index < post.tags.length; index++ ) { %>
          <button class="post__tags-button">
            <span><%= post.tags[index] %></span>
          </button>
          <% } %>
        </div>
        <div class="post__about-author">
          <img
            src="<%= post.author.profilePicture %>"
            alt="<%= post.author.username %>-avatar"
            class="about-author__img"
          />
          <div class="about-author__content">
            <p class="about-author__writenby">
              Writen by <%= post.author.username %>
            </p>
            <p class="about-author__bio"><%= post.author.bio %></p>
          </div>
          <button class="about-author__follow"><span>Follow</span></button>
        </div>
        <hr class="post__divider" />
        <div class="post-respone">
          <p class="post-respones__count">
            Respones ( <%= post.responeCount %> )
          </p>
          <div class="user__info">
            <img src="" alt="-avatar" class="user__avatar" />
            <!-- user.username -->
            <!-- user.profilePicture -->
            <p class="user__name"><%= %> user.username</p>
          </div>
          <%= %>
          <div class="post-respone__input">
            <input
              type="text"
              name="post-respone"
              id="post-respone"
              placeholder="Write your comment..."
            />
            <div class="respones__nav">
              <button class="respones__cancel">
                <span>Cancel</span>
              </button>
              <button class="respones__respond">
                <span>Respond</span>
              </button>
            </div>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
